.formGroup {
    display: flex;
    flex-wrap: wrap;
    margin-block-start: 0.5em;
    justify-content: center;
    column-gap: 0.25em;
}

.formGroup label {
    flex-basis: 9ch;
}

.formGroup input,
.formGroup textarea {
    flex-grow: 1;
    max-width: 25ch;
    border: none;
    padding-inline-start: 0.5em;
    border-radius: 0.5em;
}

.formGroup textarea {
    resize: none;
}

.lbl_img {
    position: relative;
}

.lbl_img:hover:after {
    content: "(taking /images/products/ as root)";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    width: 25ch;
    font-size: 0.75em;
    padding: 0.5em;
    border-radius: 0.5em;
}

.product {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.product h3 {
    font-size: 1.2rem;
    flex-basis: 100%;
    text-align: center;
    margin: 0;
}

.product img {
    flex-basis: 100%;
    max-width: 10ch;
    border-radius: 0.5em;
}