.product_tiny {
    width: 200px;
    min-width: 200px;
    max-width: 250px;
    aspect-ratio: 1;
}

.product_tiny img {
    width: 100%;
    aspect-ratio: 1;
    height: max-content !important;
    object-fit: scale-down !important;
}