.navbar {
    background-color: var(--clr-800);
    color: var(--clr-200);
    gap: 0.75em;
    padding-block: 0.5em;
    font-size: 1.05rem;
    text-align: center;
    flex-wrap: wrap;
}

.link {
    color: var(--clr-200);
    text-decoration: none;
    transition: color 250ms ease-in-out;
}

.link:hover {
    color: var(--clr-400);
}

@media screen and (max-width: 300px) {
    .navbar {
        flex-direction: column;
    }
}